html, body, div {
	background-color: black;
}

h1, h2, h3, h4, h5, h6, p {
	color: white;
	font-size: 55px;
	font-family: 'Times New Roman', Times, serif;
}

a {
	margin-bottom: 10px;
	width: 150px;
}

.center {
	margin: auto;
	margin-top: 5%;
	width: 50%;
	text-align: center;
}

.profile-rounded {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}